<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            https://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan base-package="*">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

<!--    0、导入外部配置文件-->
    <context:property-placeholder location="classpath:dbconfig.properties" ></context:property-placeholder>
<!--    1、配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${username}"></property>
        <property name="password" value="${password}"></property>
        <property name="jdbcUrl" value="${jdbcurl}"></property>
        <property name="driverClass" value="${driver}"></property>
        <property name="maxPoolSize" value="${maxPoolSize}"></property>
        <property name="minPoolSize" value="${minPoolSize}"></property>
    </bean>
<!--    2、配置jdbcTemplate操作数据库 pass-->
<!--    3、配置mybatis操作数据库-->

<!--    4、配置事务管理器，让它控制住数据源里面的事务的关闭和提交-->
    <bean id="dataSourceTransactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

<!--    5、基于xml配置，配置事务 哪些方法切入事务，还要写切入点表达式-->
    <aop:config>
        <aop:pointcut id="point" expression="execution(* service.*.*(..))"/>
        <aop:advisor advice-ref="myAdvice" pointcut-ref="point"></aop:advisor>
    </aop:config>

<!--    6、配置事务增强 transaction-manager 指定事务管理器-->
    <tx:advice transaction-manager="dataSourceTransactionManager" id="myAdvice">
<!--        配置事务属性-->
        <tx:attributes>
            <tx:method name="*" rollback-for="java.lang.Exception"/>
            <tx:method name="get*" read-only="true"></tx:method>
            <tx:method name="select*" read-only="true"></tx:method>
        </tx:attributes>
    </tx:advice>
</beans>